@model DoBemSolution.Models.Turma

@{
    ViewData["Title"] = "Details";
}

<h1>Detalhes da Turma</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Inicio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Inicio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Encerramento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Encerramento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Curso)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Curso.CargaHorariaCurso)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model?.IdTurma">Editar</a> |
    <a class="btn btn-outline-dark" asp-action="Index">Voltar</a>
</div>
