@model IEnumerable<DoBemSolution.Models.Curso>

@{
    ViewData["Title"] = "Index";
}

<h1>Cadastro</h1>

<p>
    <a asp-action="Create">Cadastrar Novo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NomeCurso)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CargaHorariaCurso)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NomeCurso)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CargaHorariaCurso)
            </td>
   
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdCurso">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.IdCurso">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.IdCurso">Deletar</a>
            </td>
        </tr>
}
    </tbody>
</table>
