@model DoBemSolution.Models.Aluno

@{
    ViewData["Title"] = "Details";
}

<h1>Informações</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RegistroAluno)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RegistroAluno)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomeAluno)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomeAluno)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmailAluno)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmailAluno)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SenhaAluno)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SenhaAluno)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Turma)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Turma.IdTurma)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model?.IdAluno">Editar</a> |
    <a class="btn btn-outline-dark" asp-action="Index">Voltar</a>
</div>
