@model IEnumerable<DoBemSolution.Models.Aluno>

@{
    ViewData["Title"] = "Index";
}

<h1>Cadastro</h1>

<p>
    <a asp-action="Create">Criar Novo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RegistroAluno)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Usuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Turma)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RegistroAluno)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Usuario.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Turma.IdTurma)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdAluno">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.IdAluno">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.IdAluno">Deletar</a>
            </td>
        </tr>
}
    </tbody>
</table>
