@model IEnumerable<DoBemSolution.Models.Aluno>

@{
    ViewData["Title"] = "Index";
}


<div class="row mb-1">
    <h1 class="col-10">Lista de Alunos</h1>
    <a asp-action="Create" class="btn btn-dark h-100 col-2">Adicionar</a>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div style= "height: 90%; overflow-y: auto;">
                @foreach (var item in Model)
                {
                    <div class="card mb-3 border-dark shadow">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-11">
                                    <h5 class="card-title">@Html.DisplayFor(modelItem => item.NomeAluno)</h5>
                                    <p class="card-text">
                                        Registro: @Html.DisplayFor(modelItem => item.RegistroAluno)<br>
                                        Email: @Html.DisplayFor(modelItem => item.EmailAluno)<br>
                                        Senha: @Html.DisplayFor(modelItem => item.SenhaAluno)<br>
                                        Turma: @Html.DisplayFor(modelItem => item.Turma.IdTurma)
                                    </p>
                                </div>
                                <div class="col-md-1">
                                    <div class="mb-2">
                                        <a href="@Url.Action("Edit", new { id = item.IdAluno })" class="btn btn-primary btn-block"><i class="fa fa-edit"></i></a>
                                    </div>
                                    <div class="mb-2">
                                        <a href="@Url.Action("Details", new { id = item.IdAluno })" class="btn btn-secondary btn-block"><i class="fa fa-info-circle"></i></a>
                                    </div>
                                    <div>
                                        <a href="@Url.Action("Delete", new { id = item.IdAluno })" class="btn btn-danger btn-block"><i class="fa fa-trash"></i></a>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                }
            </div>
        </div>
    </div>
</div>
