@model IEnumerable<DoBemSolution.Models.Feedback>

@{
    ViewData["Title"] = "Index";
}

<h1>Cadastro</h1>

<p>
    <a asp-action="Create">Criar Novo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.texto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.estrelas)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.autorizacao)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.texto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.estrelas)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.autorizacao)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.id">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.id">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.id">Deletar</a>
            </td>
        </tr>
}
    </tbody>
</table>
